<div class="col-md-6 offset-md-3">
  <h2 class="text-center">Create Employee</h2>

  <form class="form" action="" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="">FirstName</label><br><br>
      <input type="text" class="form-control" name="firstName" [(ngModel)]="employee.firstName">

    </div><br>
    <div class="form-group">
      <label for="">LastName</label><br><br>
      <input type="text" class="form-control" name="lastName" [(ngModel)]="employee.lastName">

    </div><br>
    <div class="form-group">
      <label for="">Email-Id</label><br><br>
      <input type="text" class="form-control" name="email" [(ngModel)]="employee.email">

    </div><br>
    <div class="form-group">
      <label for="">Department</label><br><br>
      <input type="text" class="form-control" name="department" [(ngModel)]="employee.department">

    </div><br><br>
    <button class="btn btn-success" type="submit">Submit</button>



  </form>
</div>
